@import 'flavours/glitch/styles/index';
@import 'skins/vanilla/bird-ui/layout-single-column';
@import 'skins/vanilla/bird-ui/layout-multiple-columns';

.layout-single-column .status .status__info .status__info__account {
    align-items: flex-start;
}
  
.layout-single-column .status .status__info .status__info__icons {
    margin-left: auto;
}

.layout-single-column .column > .scrollable {
    background-color: transparent !important;
}
  
.layout-single-column .status__content {
    margin-top: auto;
}
  
.layout-single-column .notification.notification-admin-sign-up .display-name__account {
    padding-left: calc(var(--size-avatar) + var(--gap-default));
}

.account__avatar[style="width: 48px; height: 48px;"],
.layout-single-column .status__avatar {
  /* Need to override inline styles */
  /* stylelint-disable-next-line */
  height: var(--size-avatar) !important;
  /* stylelint-disable-next-line */
  max-height: var(--size-avatar) !important;
  /* stylelint-disable-next-line */
  max-width: var(--size-avatar) !important;
  /* stylelint-disable-next-line */
  min-height: var(--size-avatar) !important;
  /* stylelint-disable-next-line */
  min-width: var(--size-avatar) !important;

  /* Need to override inline styles */
  /* stylelint-disable-next-line */
  width: var(--size-avatar) !important;
}